@model ProductManagement.Models.ProductModel

@{
    ViewData["Title"] = "AddUpdate";
}
@if (TempData["Msg"] != null)
{
    <h3>@TempData["Msg"].ToString()</h3>
}

<h1 id="heading">AddProduct</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         @*    <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <input asp-for="ProductID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" id="input_code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @* <input asp-for="Category" class="form-control" /> *@
                <select asp-for="Category">
                    <option disabled >Select Category</option>
                    <option value="A">CategoryA</option>
                    <option value="B">CategoryB</option>
                    <option value="C">CategoryC</option>
                    <option value="D">CategoryD</option>
                    <option value="E">CategoryE</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @* <input asp-for="Status" class="form-control" /> *@
                <input asp-for="Status" type="radio" value="Active" />Active
                <input asp-for="Status" type="radio" value="Inactive" />Inactive
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="SaveButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductList">Back to List</a>
</div>
<script>
    let key = @Model.Code; 
    if (key > 0) {
        document.getElementById('SaveButton').value = 'Update';
        document.getElementById('heading').innerHTML = 'UpdateProduct';
        document.getElementById('input_code').readOnly = true;
    }
   

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
